/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('bg.jpg') no-repeat center center fixed;
  background-size: cover;
  color: white;
  padding-top: 60px;
  display: flex;
  justify-content: center;
  font-size: 14px;
}

main {
  max-width: 100%;
  width: 90%;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  padding: 20px 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/* ===== THEMES ===== */
body.dark { color: white; }
body.dark main { background: rgba(0, 0, 0, 0.4); }
body.dark nav { background: rgba(0, 0, 0, 0.7); }
body.dark nav a { color: white; }
body.dark nav a:hover { background-color: rgba(255, 255, 255, 0.2); }
body.dark #theme-text { color: #eee; }
body.dark .zooantwerpen10082025 > h3,
body.dark .centerparcs2025 > h3 {
  grid-column: 1 / -1;
  color: aqua;
  border: 2px dashed aqua;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  font-family: 'Langar', serif;
  font-size: 1.2rem;
  text-align: center;
}
body.dark p a:last-child { text-decoration: underline; color: white; }
body.dark p a:hover {
  color: aquamarine;
  border: 2px solid aquamarine;
  border-radius: 1rem;
  padding: 0.1rem;
}
body.dark .close {
  position: fixed;
  top: 20px;       /* bijvoorbeeld rechtsboven */
  right: 20px;
  width: 40px;
  height: 40px;
  font-size: 2rem;
  border-radius: 50%;
  background-color: #4CAF50;
  color: white;
  border: 2px solid #388E3C;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  z-index: 1001;
}

body.dark .close:hover {
  background-color: #2E7D32;
  color: red;
  transform: scale(1.1);
}

body.dark #caption { color: #fff; }

body.light { 
  background-image: url(photo-1579546928686-286c9fbde1ec.jpeg);
  color: black;
}
body.light main { background: rgba(241, 231, 231, 0.4); }
body.light nav { background: rgba(255, 255, 255, 0.9); }
body.light nav a { color: black; }
body.light nav a:hover { background-color: rgba(0,0,0,0.1); }
body.light #theme-text { color: black; }
body.light .zooantwerpen10082025 > h3,
body.light .centerparcs2025 > h3 {
  grid-column: 1 / -1;
  color: blue;
  border: 2px dashed blue;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  font-family: 'Langar', serif;
  font-size: 1.2rem;
  text-align: center;
}
body.light p a:last-child { text-decoration: underline; color: black; }
body.light p a:hover {
  color: blue;
  border: 2px solid blue;
  border-radius: 1rem;
  padding: 0.1rem;
}
body.light .close {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  font-size: 2rem;
  border-radius: 50%;
  background-color: white;
  color: #4CAF50;
  border: 2px solid #4CAF50;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  z-index: 1001;
}

body.light .close:hover {
  background-color: #4CAF50;
  color: red;
  transform: scale(1.1);
}

body.light #caption { color: white; }

/* ===== NAV ===== */
nav {
  font-family:'Lucida Sans', sans-serif;
  position: fixed; top: 0; left: 0;
  width: 100%; height: 50px;
  background: rgba(0, 0, 0, 0.7);
  display: flex; justify-content: center; align-items: center;
  gap: 15px; z-index: 1000;
  font-weight: bold; font-size: 14px;
}
nav a {
  color: white;
  text-decoration: none;
  padding: 8px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
nav a:hover { background-color: rgba(255, 255, 255, 0.2); }
#toggle-theme { background: none; border: none; color: white; font-size: 1.2rem; cursor: pointer; }
#theme-text { font-size: 14px; font-weight: 600; margin-left: 6px; }

/* ===== HOME ===== */
.profile-pic {
  width: 400px; height: 400px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid white;
  margin-bottom: 15px;
  margin-top:2rem
}

.profile-pic:hover{
  box-shadow: 0 0 20px white;
  transform: scale(1.05);
}

h1 { font-family: 'Lavishly Yours', cursive; font-size: 4rem; }
ul {
  border: 2px solid white;
  border-radius: 1rem;
  width: 90%;
  margin-left:auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0.5rem;
}

ul:hover{
  box-shadow: 0 0 20px white;
  transform: scale(1.05);
}

#home p, h5 { font-family: 'Playfair Display', serif; font-size: 1rem; }
#home p:last-child {
  background-color: green;
  border: 2px solid yellowgreen;
  border-radius: 1rem;
  padding: 1rem;
  width:fit-content;
  max-width: 90%;
  margin-bottom: 3rem;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
}

#home p:last-child:hover{
  box-shadow: 0 0 20px yellowgreen;
  transform: scale(1.05);
}

/* ===== TITELS ===== */
h2 {
  font-family: 'Meow Script', cursive;
  font-size: 3.5rem;
  color: red;
  margin: 1.75rem auto;
  border: 2px solid red;
  border-radius: 1rem;
  max-width: 90%;
  padding:1rem;
}

h2:hover{
  box-shadow: 0 0 20px red;
  transform: scale(1.05);
}

h3 {
  grid-column:1/4;
  font-family: 'Langar', serif;
  font-size: 1.1rem;
  color: cyan;
  border: 2px dashed aqua;
  margin: auto;
  width: 80%;
}

h3:hover{
  box-shadow: 0 0 20px blue;
  transform: scale(1.05);
}

/* ===== GALLERY ===== */
.gallery { 
  display: grid; 
  grid-template-columns: 1fr; 
  gap: 1rem;
}

.zooantwerpen10082025,
.centerparcs2025 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.zooantwerpen10082025 > div,
.centerparcs2025 > div {
  display: inline-flex;
  flex-direction: column;
  align-items: stretch;
  border-radius: 8px;
  margin: 0.5rem 0;
  overflow: hidden;
  max-width: 100%;
  box-sizing: border-box;
  height:auto
}

.zooantwerpen10082025 > div > img,
.centerparcs2025 > div > img {
  border-radius: 8px 8px 0 0;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  flex-shrink: 0;
}

.zooantwerpen10082025 > div > img:hover,
.centerparcs2025 > div > img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.zooantwerpen10082025 > div > p,
.centerparcs2025 > div > p {
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  font-family: 'Lavishly Yours', serif;
  font-size: 1.5rem;
  border-radius: 0 0 8px 8px;
  text-align: center;
  margin: 0;
  box-sizing: border-box;
  flex-shrink: 0;
}

.section-space>p{
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}

/* ===== FOOTER ===== */
.site-footer {
  background-color: #222;
  color: #eee;
  text-align: center;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 1rem;
}

/* ===== LIGHTBOX ===== */
#lightbox {
  display: none;
  position: fixed;
  z-index: 1000; left: 0; top: 0;
  width: 100%; height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.9);
  flex-direction: column; justify-content: center; align-items: center;
  padding: 5vh 0;
}

#lightbox-img { 
  max-width: 80vw; 
  max-height: 70vh; 
  border-radius: 1rem; 
}

#caption { 
  max-width: 90vw; 
  font-size: 2rem;
  font-family: 'Lavishly Yours', serif;
  padding-top: 1rem;
}

.prev, .next {
  position: fixed;
  top: 45%;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  z-index: 1000; /* boven andere content */
}

/* Links vast */
.prev {
  left: 5px;
}

/* Rechts vast */
.next {
  right: 5px;
}

/* Thema’s via body.light en body.dark */

/* Licht thema */
body.light .prev,
body.light .next {
  background-color: white;
  color: #4CAF50;
  border: 2px solid #4CAF50;
}

body.light .prev:hover,
body.light .next:hover {
  background-color: #4CAF50;
  color: white;
  transform: scale(1.1);
}

/* Donker thema */
body.dark .prev,
body.dark .next {
  background-color: #4CAF50;
  color: white;
  border: 2px solid #388E3C;
}

body.dark .prev:hover,
body.dark .next:hover {
  background-color: #2E7D32;
  color: #C8E6C9;
  transform: scale(1.1);
}



@media (min-width: 600px) {
  body { font-size: 16px; }
  .profile-pic { width: 400px; height: 400px; margin-bottom:0;
 }
  h1 { font-size: 4rem; margin-top: 1rem; margin-bottom: 1rem;}
  h2 { font-size: 3rem; }
  h3 { font-size: 1.3rem; }

.zooantwerpen10082025, .centerparcs2025{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
}

@media (min-width: 800px) {
  ul { width: 50%; }
  .profile-pic { width: 400px; height: 400px; }

  #home p:last-child{
    padding:1.75rem;
  }
  .zooantwerpen10082025, .centerparcs2025{
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
}

@media (min-width: 1200px) {
  .profile-pic { width: 400px; height: 400px; }
  .zooantwerpen10082025, .centerparcs2025{
    display: grid;
    grid-template-columns: repeat(4,1fr);
  }
  h3{
    grid-column: 1/5;
  }
}